#root {
  width: 80%;
  height: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
}

.sortContainer {
  display: flex;
  justify-content: center;
  position: relative;
  right: 1rem;
}

.listContainer {
  display: flex;
  justify-content: center;
  height: 87%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;  
}

ul {
  width: 100%;
}
li {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  margin-bottom: 0.2rem;
}

.todoContainer {
  margin-top: 1rem;
  width: 99%;
  min-height: 75vh;
  background-color: rgb(148, 145, 145);
  padding: 0.5rem;
  border: 1px solid black;
}

.done {
  background-color: rgba(44, 80, 47, 1);
}
